PORT=porn number
DB_URL=database connection url
JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_REFRESH_SECRET=jwt-refresh-secret-key
SMTP_HOST=smtp host name
SMTP_PORT=smtp port number
SMTP_USER=smtp mailbox name
SMTP_PASSWORD=smtp mailbox password
API_URL=api url
CLIENT_URL=client url 